<div class="compTablesSection">
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
    {{>comparisonTable}}
</div>


<script>
    const compTables = $('.compareBox')
    const ids = ['perMillion', 'totalCases', 'activeCases', 'newCases', 'totalRecovered', 'criticalCases', 'totalDeaths', 'newDeaths']
    
    for (let i=0; i<8; i++) {
        $(compTables[i]).attr('id', ids[i])
        // $(compTables[i]).find('.titleDiv').css({'background-color':'#65b1ef' + i.toString() + i.toString()})
    }
</script>