<div class="compareBox">
    <div class="titleDiv">
        <p class="title"></p>
    </div>
    <div class="worldDiv">
        <div class="iconDiv"><img src="/img/world.png" class="roundIcon"></div>
        <div class="worldText numsText">
            <p></p>
        </div>
        
    </div>
    <div class="israelDiv">
        <div class="iconDiv"><img src="/img/israel.png" class="roundIcon"></div>
        <div class="israelText numsText">
            <p></p>
        </div>
    </div>
</div>

{{!-- <div class="compareBox">
    <div class="titleDiv">
        <p class="title">מספר חולים / מיליון אזרחים</p>
    </div>
    <div class="worldDiv">
        <div class="iconDiv"><img src="/img/world.png" class="roundIcon"></div>
        <div class="worldText numsText">
            <p>19.12</p>
        </div>
        
    </div>
    <div class="israelDiv">
        <div class="iconDiv"><img src="/img/israel.png" class="roundIcon"></div>
        <div class="israelText numsText">
            <p>23.1</p>
        </div>
    </div>
</div> --}}